openapi: 3.2.0
info:
  title: Pie Insurance Quote Quote Document API
  version: v1
servers:
- url: https://api.post-prod.pieinsurance.com/api/v1
security:
- bearer: []
tags:
- name: QuoteDocument
paths:
  /QuoteDocument/{quoteId}:
    post:
      tags:
      - QuoteDocument
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
            encoding:
              files:
                style: form
      responses:
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented
        '502':
          description: Bad Gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
        '505':
          description: HTTP Version Not Supported
        '202':
          description: Accepted
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - bearer: []
      summary: Create quote document by quote id
      x-summary-source: derived
      operationId: postQuoteDocumentByQuoteId
      x-operation-id-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        extensions:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
  securitySchemes:
    bearer:
      type: http
      description: JWT Authorization header using the Bearer scheme. Enter token
      scheme: Bearer
